/* MENU */
.ui.menu .item.title {
	margin: 0;
	padding: 8px;
}

.ui.menu .item:first-child:before {
	background: none;
}

.ui.menu .item.title img {
	max-height: 100%;
}

.ui.vertical.inverted.black.footer {
	background-color: #424242 !important;
	text-align: center;
	color: #A4A4A4 !important;
	margin: 0;
}

.ui.menu .item a {
	color: #3F3F3F;
}

.ui.menu .item.sign-out a {
	color: #898989;
}

.ui.menu:not(.vertical) .menu.right {
	margin-top: 5px;
}

/* PRINCIPAL */



